<div class="jumbotron">
  <h1>Welcome to my Rails App</h1>
  <p>Learning Ruby and it's going to be epic!</p>
  <%= link_to 'About Us', home_about_path, class: 'btn btn-default' %>
  <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>